<h2>{{data.country}}</h2>
<dl>
    <dt>Population of Country:</dt>
    <dd>{{}}</dd>

    <dt>Area:</dt>
    <dd>{{}}</dd>

    <dt>Capital:</dt>
    <dd>{{}}</dd>

    <dt>Population of Capital:</dt>
    <dd>{{}}</dd>

    <dt>Continent:</dt>
    <dd>{{}}</dd>

    <dt>Neighbors:</dt>
    <dd>{{}}</dd>

    <dt></dt>
    <dd></dd>
</dl>

<div><img ng-src="#" alt="Description" /></div>
<div><img ng-src="#" alt="Description" /></div>
<div>
    <a class="button" ng-href="#/home">Home</a>
    <a class="button" ng-href="#/countries">Browse Countries</a>
</div>
