<!--Table Add Bootstrap Styles-->
<div class="countries-container">
    <table id="countries-table" class="large-only stackable small-only test">
        <thead>
            <tr>
                <th>Name</th>
                <th>Country Code</th>
                <th>Capital</th>
                <th>Area in Km<sup>2</sup></th>
                <th>Population</th>
                <th>Continent</th>
            </tr>
        </thead>
        <tbody>


            <tr ng-repeat="country in countries">
                <td><a class="country-link" ng-href="#/countries/{{country.countryCode}}">{{country.countryName}}</a></td>
                <td>{{country.countryCode}}</td>
                <td>{{country.capital}}</td>
                <td>{{country.areaInSqKm | number}}</td>
                <td>{{country.population | number}}</td>
                <td>{{country.continentName}}</td>
            </tr>
        </tbody>
    </table>

    <div class="button-container">
        <a class="button" ng-href="#/home">Home</a>
    </div>
</div>
