<!--Table Add Bootstrap Styles-->
<div ng-controller="CountriesCtrl">
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Country Code</th>
                <th>Capital</th>
                <th>Area in Km<sup>2</sup></th>
                <th>Population</th>
                <th>Continent</th>
            </tr>
        </thead>
        <tbody>


            <tr ng-repeat="country in countries" ng-model="acountry">
                <td><a ng-href="">{{countryName}}</a></td>
                <td>{{country.countryCode}}</td>
                <td>{{country.capital}}</td>
                <td>{{area}}</td>
                <td>{{population}}</td>
                <td>{{continentName}}</td>
            </tr>
        </tbody>
    </table>
</div>
<a class="button" ng-href="#/home">Home</a>
